$color1: #17252a;
$color2: #2b7a78;
$color3: #3aafa9;
$color4: #def2f1;
$color5: #feffff;

body {
	background: $color5;
}

.nav-wrapper {
	background: #1a1a1d;
}
.intro {
	height: 600px;
	background: $color3;
	.container {
		width: 80%;
	}
	.row {
		display: flex;

		h1 {
			padding-top: 19%;
			color: $color1;
			font-family: sans-serif, Geneva, Tahoma;
			font-weight: bolder;
			font-size: rem;
		}
		p {
			color: $color4;
      font-family: sans-serif, Geneva, Tahoma;
      padding-bottom: 4%;
		}
		button {
      position: relative;
      border-radius: 50px;
      a{
        color: $color5;
      }
    }
    img{
      padding-top: 20%;
      padding-left: 10%;
      // width: auto;
      height: auto;
      max-width: 550px;
    }
	}
}
.about {
	padding: 5% 0%;
	background: $color5;
  text-align: justify;
  
  h1{
    color: $color1;
    // text-decoration: underline solid;
  }
  blockquote{
    border-color: $color3;
  }
}
.experience {
	padding: 5% 0%;
	background: $color3;
	text-align: justify;
}
